<%- include('partials/header1') %>
<%- include('partials/header2') %>
<%- include('partials/navbar') %>
<div class="container">
    <div class="display-1 text-center mb-5">Rental Property Calculator</div>
    <form action="/properties" method="POST">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Location</h5>
                        <label for="address" class="form-label">Address</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="address" aria-label="Address" name="address"
                                required>
                        </div>
                        <label for="city" class="form-label">City</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="city" aria-label="City" name="city" required>
                        </div>
                        <label for="state" class="form-label">State</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="state" aria-label="State" name="state" required>
                        </div>
                        <label for="zipcode" class="form-label">Zipcode</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" id="zipcode" aria-label="zipcode" name="zipcode"
                                required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Financial Details</h5>
                        <label for="price" class="form-label">Total Purchase Price</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" id="price" aria-label="House Purchase Price"
                                name="price" required>
                        </div>
                        <label for="rent" class="form-label">Montly Rent</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" id="rent" aria-label="Monthly Rent" name="rent"
                                required>
                        </div>
                        <label for="downpayment" class="form-label">Down Payment</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" id="downpayment" aria-label="downpayment"
                                name="downpayment">
                            <span class="input-group-text">%</span>
                        </div>
                        <label for="rate" class="form-label">Interest Rate</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" id="rate" aria-label="Interest Rate" name="rate">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Property Details</h5>
                        <label for="beds" class="form-label">Bedrooms</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" id="beds" aria-label="bedrooms" name="beds">
                        </div>
                        <label for="baths" class="form-label">Bathrooms</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" id="baths" aria-label="bathrooms" name="baths">
                        </div>
                        <label for="squareFootage" class="form-label">Square Footage</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" id="squareFootage" aria-label="squareFootage"
                                name="squareFootage">
                        </div>
                        <label for="type" class="form-label">Property Type</label>
                        <div class="input-group mb-3">
                            <select class="form-select" id="type" name="type">
                                <option selected>Choose...</option>
                                <option value="apartment">Apartment</option>
                                <option value="single">Single Family</option>
                                <option value="multi">Multi Family</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Expenses</h5>
                        <label for="taxes" class="form-label">Property Taxes</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" id="taxes" aria-label="taxes" name="taxes">
                        </div>
                        <label for="insurance" class="form-label">Property Insurance</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" id="insurance" aria-label="Monthly Insurance"
                                name="insurance">
                        </div>
                        <label for="hoa" class="form-label">HOA</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" id="hoa" aria-label="hoa" name="hoa">
                        </div>
                        <label for="propertymanager" class="form-label">Property Manager Fee</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="propertymanager" aria-label="Property Manager"
                                name="propertymanager">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
</div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
<%- include('partials/footer') %>