<% layout('layouts/boilerplate') %>

<h1 class="text-center mt-5">Evaluate Property</h1>
<div class="col-12">
    <form action="/properties/<%= property._id %>/evaluations" method="POST" novalidate class="validated-form mb-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Purchase Info</h5>
                        <div class="mb-3">
                            <label class="form-label" for="price">Price</label>
                            <input class="form-control" type="number" name="evaluation[price]" id="price"
                                placeholder="$100,000" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="downPayment">Down Payment (0 if No Loan)</label>
                            <input class="form-control" type="number" name="evaluation[downPayment]"
                                placeholder="$20,000" id="downPayment">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="rate">Interest Rate (0 if No Loan)</label>
                            <input class="form-control" type="number" name="evaluation[rate]" id="rate"
                                placeholder="3.5%" step="0.01">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="length">Length of Loan in Years (0 if No Loan)</label>
                            <input class="form-control" type="number" name="evaluation[length]" id="length"
                                placeholder="30">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="closingCosts">Closing Costs</label>
                            <input class="form-control" type="number" name="evaluation[closingCosts]"
                                placeholder="$10,000" id="closingCosts">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Income Info</h5>
                        <div class="mb-3">
                            <label class="form-label" for="rent">Monthly Rent</label>
                            <input class="form-control" type="number" name="evaluation[rent]" id="rent"
                                placeholder="$1,500" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="utilities">Utilities Fee</label>
                            <input class="form-control" type="number" name="evaluation[utilities]" placeholder="$100"
                                id="utilities">
                        </div>
                        <h5 class="card-title text-center mt-3">Appreciation Info</h5>
                        <div class="mb-3">
                            <label class="form-label" for="appreciationRate">Yearly Appreciation Rate</label>
                            <input class="form-control" type="number" name="evaluation[appreciationRate]"
                                placeholder="5%" id="appreciationRate">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Monthly Expenses</h5>
                        <div class="mb-3">
                            <label class="form-label" for="taxes">Taxes</label>
                            <input class="form-control" type="number" name="evaluation[taxes]" id="taxes"
                                placeholder="$100" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="insurance">Insurance</label>
                            <input class="form-control" type="number" name="evaluation[insurance]" placeholder="$100"
                                id="insurance" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="hoa">Homeowner Association</label>
                            <input class="form-control" type="number" name="evaluation[hoa]" id="hoa" required
                                placeholder="$100">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="maintenance">Maintenance</label>
                            <input class="form-control" type="number" name="evaluation[maintenance]" id="maintenance"
                                required placeholder="$100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-1">
                <button type="submit" class="btn btn-primary mt-2 ">Submit</button>
            </div>
    </form>
</div>